.container {
    display: flex; /* Use flexbox to make the divs inline */
}
.inline-div {
    flex: 1; /* Distribute available space equally among the divs */
    position: relative;
}
.bottom-element {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 632px;
}

@media (min-width: 1280px) {
    body {
        max-width: 1280px;
        margin: 0 auto;
    }
}

body {
    color : #D1D5D8;
    font-family: 'GG', sans-serif;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #434343, #111111);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #434343, #111111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}


input:focus {
    outline: none;
}

input[type="color"] {
    appearance: none;
    border: none;
    outline: none;
}
input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

/* FONT weight */
.font-bold {
    font-weight: bold;
    text-transform: uppercase;
}

/* Background */
.bg-dark-2 {
    background-color: #202225;
}
.bg-dark-3 {
    background-color: #2F3136;
}
.bg-dark-4 {
    background-color: #37393F;
}

/* Borders */
.border-l-4 {
    border-left-width: 4px;
}
.border-transparent {
    border-color: transparent;
}
.rounded-md {
    border-radius: 0.375rem;
}

/* Sizing */
.w-full {
    width: 100%;
    box-sizing: border-box;
}
.w-75 {
    width: 75%;
    box-sizing: border-box;
}
.w-50 {
    width: 50%;
    box-sizing: border-box;
}
.w-25 {
    width: 25%;
    box-sizing: border-box;
}
.h-25em {
    height: 2.5em;
}

/* Padding */
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.pl-2 {
    padding-left: 0.5rem;
}
.p-1 {
    padding: 0.25rem;
}
/* Text */
.text-white {
    color: #fff;
}

/* Margin */
.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.ml-2 {
    margin-left: 0.5rem;
}

/* Buttons */
.discord-button { 
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: rgb(89, 102, 242);
    transition: background-color .17s ease,color .17s ease;
    :hover {
        background-color: rgb(71, 82, 196);
    }

}

.green-discord-button { 
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: #65702a;
    transition: background-color .17s ease,color .17s ease;
    :hover {
        background-color: #424A1C;
    }

}

.red-discord-button { 
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: rgb(156, 42, 42);
    transition: background-color .17s ease,color .17s ease;
    :hover {
        background-color: rgb(112, 31, 31);
    }

}

/* Checkbox Button */
.checkbox-wrapper-10 .tgl {
    display: none;
}
    .checkbox-wrapper-10 .tgl,
    .checkbox-wrapper-10 .tgl:after,
    .checkbox-wrapper-10 .tgl:before,
    .checkbox-wrapper-10 .tgl *,
    .checkbox-wrapper-10 .tgl *:after,
    .checkbox-wrapper-10 .tgl *:before,
    .checkbox-wrapper-10 .tgl + .tgl-btn {
    box-sizing: border-box;
}
.checkbox-wrapper-10 .tgl::-moz-selection,
.checkbox-wrapper-10 .tgl:after::-moz-selection,
.checkbox-wrapper-10 .tgl:before::-moz-selection,
.checkbox-wrapper-10 .tgl *::-moz-selection,
.checkbox-wrapper-10 .tgl *:after::-moz-selection,
.checkbox-wrapper-10 .tgl *:before::-moz-selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-10 .tgl::selection,
.checkbox-wrapper-10 .tgl:after::selection,
.checkbox-wrapper-10 .tgl:before::selection,
.checkbox-wrapper-10 .tgl *::selection,
.checkbox-wrapper-10 .tgl *:after::selection,
.checkbox-wrapper-10 .tgl *:before::selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::selection {
    background: none;
}
.checkbox-wrapper-10 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 100%;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:after,
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    }
.checkbox-wrapper-10 .tgl + .tgl-btn:after {
    left: 0;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
    display: none;
}
.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: arial;
    font-size: 14px;
    font-weight: 500;
    perspective: 100px;
    }
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2.5em;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 4px;
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: rgb(89, 102, 242);
    transform: rotateY(-180deg);
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    background: rgb(156, 42, 42);
    content: attr(data-tg-off);
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
    transform: rotateY(-20deg);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
    transform: rotateY(180deg);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: rgb(89, 102, 242);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateY(20deg);
}

/* Scrollbar */
*::-webkit-scrollbar-track
{
    margin-left: 2px;
	border-radius: 10px;
	background-color: #36373a;
}

*::-webkit-scrollbar
{
    margin-left: 2px;
	width: 12px;
    border-radius: 10px;
	background-color: #36373a;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #272b2e;
}

i{
    pointer-events: none;
}